.alias-delete-icon, .user_access_delete_icon{
	background: url("img/delete.png");
	height: 19px;
	width: 19px;
	display: inline-block;
	text-indent: -9999px;
}


div.webapp table{
    background: white;
}

div.webapp table:hover{
    cursor: pointer;
}

.settings-stretcher{
	background: white;
    margin-bottom: 6px;
    padding-top: 6px;
    margin-top: 2px;
}

.webapp-table-row{
	background: #fbfbfb !important;
}

.webapp-table-row:hover{
    background: #dcdcdc !important;
}
